/*! SVG Türkiye Haritası | CSS | MIT Lisans | dnomak.com */

$sehirRengi: #D8D8D8;
$sehirHoverRengi: #F72848;
.svg-turkiye-haritasi {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    svg {
        width: 100%;
        height: auto;
    }
}

.il-isimleri {
    position: absolute;
    z-index: 2;
    div {
        display: inline-block;
        background: #222;
        color: #fff;
        padding: 8px 16px;
        border-radius: 4px;
    }
}

#svg-turkiye-haritasi {
    path {
        cursor: pointer;
        fill: $sehirRengi;
    }
    g g:hover path {
        fill: $sehirHoverRengi;
    }
}